body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.keyboard-base {
    /* border: 1px solid red; */
    min-width: 1080px;
    background-color: rgb(56, 56, 56);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}

.key {
    border-radius: 5px;
    grid-column: span 2;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 17px;
    border: 2px solid black;
    background-color: rgb(243, 243, 243);
}

.key:hover {
    box-shadow: inset 0 0 7px rgb(0 0 0 / 80%);
}

.color {
    background-color: rgb(180, 180, 180);
}

.delete {
    grid-column: span 4;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
}

.return {
    background-color: rgb(250, 140, 70);
    grid-column: span 4;
}

.leftshift {
    grid-column: span 5;
}

.rightshift {
    grid-column: span 5;
}

.leftctrl {
    grid-column: span 3;
}

.command {
    grid-column: span 3;
    font-size: 14px;
}

.space {
    grid-column: span 13;
    background-color: rgb(250, 140, 70);
}